<!DOCTYPE html>
<html>
<head>
    <title>Rezervasyon İptal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .card h2 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #343a40;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Rezervasyon İptal</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <p>Bu rezervasyonu iptal etmek istediğinizden emin misiniz?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-block">İptal Et</button>
                    </form>
                    <a href="{% url 'mevcut_rezervasyonlar' %}" class="btn btn-secondary btn-block mt-3">Geri Dön</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>